<div class = "container">
	<div class = "jumbotron" id="main">
		<h1>Thanks for submitting your information, {{employerFirstname}}</h1>
		<h1>Our Demo Day registration page has been sent to {{employerEmailaddress}}</h1>
		<h1>Please register for Rutgers Coding Bootcamp Demo Day Expo at the registration link sent to your email as soon as you can, spots fill up quick!</h1>
	</div>
</div>
